<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Lista Filial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showcancelbutton="" (ioninput)="filterList($event)"></ion-searchbar>
  <ion-list *ngIf="filial$ | async as filial">
      <ion-item *ngFor="let filial of filial">
          <ion-card class="welcome-card">
              <ion-card-header>
              <ion-img src="{{filial.img}}"></ion-img>
              </ion-card-header>
              <ion-card-header>
                <p>Logradouro: {{filial.logradouro}}</p>
                <p>Horário de funcionamento: {{filial.horarioAberto}} - {{filial.horarioFechado}}</p>
              </ion-card-header>
              <ion-button (click)="remover(filial.key)" color="danger">Excluir</ion-button>     
            </ion-card>
      </ion-item>
   </ion-list>
</ion-content>
