<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Lista Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showcancelbutton="" (ioninput)="filterList($event)"></ion-searchbar>
  <ion-list *ngIf="produto$ | async as produto">
    <ion-item *ngFor="let produto of produto">
        <ion-card class="welcome-card">
            <ion-card-header>
            <ion-img src="{{produto.img}}"></ion-img>
            </ion-card-header>
            <ion-card-header>
              <ion-card-subtitle>{{produto.nome}}</ion-card-subtitle>
              <p>Descrição: {{produto.descricao}}</p>
              <p>Preço: {{produto.preco}}</p>
              <p>Endereço: {{produto.filial}}</p>
            </ion-card-header>
            <ion-button (click)="remover(produto.key)" color="danger">Excluir</ion-button> 
          </ion-card>   
    </ion-item>
 </ion-list>
</ion-content>