<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Facilita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="assets/img/fa.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Bem Vindo!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aqui você vendedor tem a chance de postar seus produtos.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label></ion-label>
      </ion-list-header>
      <ion-item href="/cadastroloja">
        <ion-icon slot="start" color="medium" name="add-circle-outline"></ion-icon>
        <ion-label>Cadastro Filial</ion-label>
      </ion-item>
      <ion-item href="/cadastrodoproduto">
        <ion-icon slot="start" color="medium" name="add-circle-outline"></ion-icon>
        <ion-label>Cadastro Produto</ion-label>
      </ion-item>
      <ion-item href="/lista-filial">
        <ion-icon slot="start" color="medium" name="medkit"></ion-icon>
        <ion-label>Suas Filiais</ion-label>
      </ion-item>
      <ion-item href="/lista-produto">
        <ion-icon slot="start" color="medium" name="medkit"></ion-icon>
        <ion-label>Seus Produtos</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
